<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 md:overflow-hidden">
    <div
        class="relative flex flex-col md:flex-row flex-0 md:items-center md:justify-between gap-y-4 p-6 border-b bg-card">
        <div class="text-4xl font-extrabold tracking-tight">Eventos</div>

        <form [formGroup]="form" class="grid grid-cols-4 gap-x-4 gap-y-4 shrink-0 items-center">
            <mat-form-field class="md:col-span-1 col-span-4 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input matInput formControlName="query" [autocomplete]="'off'" placeholder="Nome do evento">
            </mat-form-field>

            <mat-form-field class="md:col-span-1 col-span-4 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                <mat-select formControlName="status" [placeholder]="'Status'">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option [value]="StatusEnum.RegistrationNotStarted"> {{StatusEnum.RegistrationNotStarted | StatusEnum}} </mat-option>
                    <mat-option [value]="StatusEnum.OpenForRegistration"> {{StatusEnum.OpenForRegistration |
                        StatusEnum}} </mat-option>
                    <mat-option [value]="StatusEnum.RegistrationClosed"> {{StatusEnum.RegistrationClosed | StatusEnum}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field class="md:col-span-1 col-span-4 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                <mat-select formControlName="type" [placeholder]="'Tipo'">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option [value]="EventTypeEnum.Dynamic"> {{EventTypeEnum.Dynamic | EventTypeEnum}} </mat-option>
                    <mat-option [value]="EventTypeEnum.Lecture"> {{EventTypeEnum.Lecture | EventTypeEnum}} </mat-option>
                    <mat-option [value]="EventTypeEnum.Practice"> {{EventTypeEnum.Practice | EventTypeEnum}} </mat-option>
                </mat-select>
            </mat-form-field>

            <button class="md:col-span-1 col-span-4 fuse-mat-dense fuse-mat-rounded min-w-50" mat-flat-button
                [color]="'primary'" [routerLink]="['/admin/events/create']">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Novo Evento</span>
            </button>
        </form>
    </div>

    @if(loading){
    <div class="w-full h-full flex justify-center items-center m-auto">
        <mat-progress-spinner class="opacity-100 m-auto" [diameter]="200"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </div>

    }
    @else {
    @if(events?.items.length > 0){
    <div class="w-full overflow-auto">
        <table mat-table [dataSource]="events?.items" multiTemplateDataRows>

            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element" class="bg-white">
                    <div>
                        {{element.name}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <div class="whitespace-nowrap overflow-hidden">
                        {{ element.status | Status }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        {{element.type | EventTypeEnum}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="datails">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="w-full h-full flex justify-center">
                        <span class="w-full text-center">Ações</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="w-full h-full flex justify-center">
                        <button class="min-w-10 min-h-10 px-2" mat-icon-button [matMenuTriggerFor]="postCardMenu09">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                        </button>
                        <mat-menu #postCardMenu09="matMenu">
                            <ng-container>
                                <button mat-menu-item [routerLink]="['/admin/events/', element.id]" [disabled]="!(element.isActive ?? true)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:clipboard-document-list'"></mat-icon>
                                        <span>Editar</span>
                                    </span>
                                </button>
                                <button mat-menu-item [routerLink]="['/admin/events/', element.id, 'registrations']" [disabled]="!(element.isActive ?? true)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:clipboard-document-check'"></mat-icon>
                                        <span>Inscrições</span>
                                    </span>
                                </button>
                                <button mat-menu-item [routerLink]="['/admin/events/', element.id, 'attendances']" [disabled]="!(element.isActive ?? true)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:users'"></mat-icon>
                                        <span>Presenças</span>
                                    </span>
                                </button>
                                <button mat-menu-item (click)="toggleEventStatus(element)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="(element.isActive ?? true) ? 'heroicons_outline:x-circle' : 'heroicons_outline:arrow-path'"></mat-icon>
                                        <span>{{ (element.isActive ?? true) ? 'Cancelar' : 'Restaurar' }}</span>
                                    </span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="paginator">
                <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length" class="h-20">
                    <mat-paginator class="bg-gray-50 dark:bg-transparent flex justify-end"
                        [ngClass]="{'pointer-events-none': loading}" [length]="events?.totalCount"
                        [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
                        [showFirstLastButtons]="true" (page)="pageEvent($event)">
                    </mat-paginator>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"></tr>
            <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
        </table>
    </div>
    }
    @else {
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon class="mx-auto icon-size-12 text-amber-500" 
                [svgIcon]="'heroicons_outline:exclamation-triangle'"></mat-icon>
            <div class="text-secondary mt-2 text-2xl font-semibold tracking-tight">
                Nenhum evento encontrado
            </div>
        </div>
    }
    }
</div>
