<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto" cdkScrollable>
    <div
        class="relative flex flex-col md:flex-row flex-0 md:items-center md:justify-between gap-y-4 p-6 border-b bg-card">
        <div class="text-4xl font-extrabold tracking-tight">Usuários</div>

        <form [formGroup]="form" class="grid grid-cols-4 gap-x-4 gap-y-4 shrink-0 items-center">
            <mat-form-field class="md:col-span-1 col-span-5 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input matInput formControlName="name" [autocomplete]="'off'" placeholder="Nome">
            </mat-form-field>

            <mat-form-field class="md:col-span-1 col-span-5 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input matInput formControlName="enrollment" [autocomplete]="'off'" placeholder="Matrícula">
            </mat-form-field>

            <mat-form-field class="md:col-span-1 col-span-5 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                <mat-select formControlName="profile" [placeholder]="'Perfil'">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option [value]="ProfileEnum.Administrator"> {{ProfileEnum.Administrator | ProfileEnum}}
                    </mat-option>
                    <mat-option [value]="ProfileEnum.Monitor"> {{ProfileEnum.Monitor | ProfileEnum}} </mat-option>
                    <mat-option [value]="ProfileEnum.Student"> {{ProfileEnum.Student | ProfileEnum}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="md:col-span-1 col-span-5 fuse-mat-dense fuse-mat-rounded min-w-50"
                [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                <mat-select formControlName="status" [placeholder]="'Status'">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option [value]="UserStatusEnum.Active"> {{UserStatusEnum.Active | UserStatusEnum}}
                    </mat-option>
                    <mat-option [value]="UserStatusEnum.Inactive"> {{UserStatusEnum.Inactive | UserStatusEnum}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    @if(loading){
    <div class="w-full h-full flex justify-center items-center m-auto">
        <mat-progress-spinner class="opacity-100 m-auto" [diameter]="200"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </div>

    }
    @else {
    @if(users?.items.length > 0){
    <div class="w-full">
        <table mat-table [dataSource]="users?.items" multiTemplateDataRows>

            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element" class="bg-white">
                    <div>
                        {{element.name}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="enrollment">
                <th mat-header-cell *matHeaderCellDef>Matrícula</th>
                <td mat-cell *matCellDef="let element">
                    <div class="whitespace-nowrap overflow-hidden">
                        {{element.enrollment}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef>Perfil</th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        {{element.profile | ProfileEnum}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        {{element.status | UserStatusEnum}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="w-full h-full flex justify-center">
                        <span class="w-full text-center">Ações</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="w-full h-full flex justify-center">
                        <button class="min-w-10 min-h-10 px-2" mat-icon-button [matMenuTriggerFor]="userMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                        </button>
                        <mat-menu #userMenu="matMenu">
                            <ng-container>
                                @if(element.profile !== ProfileEnum.Monitor) {
                                <button mat-menu-item (click)="makeMonitor(element.id)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:user-plus'"></mat-icon>
                                        <span>Tornar Monitor</span>
                                    </span>
                                </button>
                                }

                                @if(element.status === UserStatusEnum.Active) {
                                <button mat-menu-item (click)="toggleStatus(element.id, UserStatusEnum.Inactive)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                        <span>Desativar</span>
                                    </span>
                                </button>
                                } @else {
                                <button mat-menu-item (click)="toggleStatus(element.id, UserStatusEnum.Active)">
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                        <span>Ativar</span>
                                    </span>
                                </button>
                                }
                            </ng-container>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
        </table>
        @if(isLoadingMore){
        <div class="mt-4 mb-8 flex justify-center">
            <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
        }
    </div>
    }
    @else {
    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
        <mat-icon class="mx-auto icon-size-12 text-amber-500" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <div class="text-secondary mt-2 text-2xl font-semibold tracking-tight">
            Nenhum usuário encontrado
        </div>
    </div>
    }
    }
</div>
