<div class="flex min-w-0 flex-auto flex-col">
    <div class="relative flex flex-col md:flex-row flex-0 md:items-center md:justify-start pt-6 px-6 bg-card">
        <button class="md:col-span-1 col-span-4 fuse-mat-dense" mat-flat-button (click)="onCancel()">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
            <span class="ml-2 mr-1">Voltar</span>
        </button>
    </div>

    <div
        class="flex flex-col border-b bg-card px-6 py-8 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10">
        <div class="flex-1 min-w-0">
            <h2 class="text-3xl font-extrabold leading-7 tracking-tight truncate sm:leading-10">
                Dados Pessoais
            </h2>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <form class="bg-card flex flex-col overflow-hidden rounded-2xl shadow" [formGroup]="personalDataForm"
            (ngSubmit)="onSubmit()">

            <div class="p-6 sm:p-8">
                <div class="mb-8">
                    <div class="mb-4 text-xl font-semibold">Informações Pessoais</div>

                    <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
                        <mat-form-field class="w-full sm:col-span-6" appearance="fill">
                            <mat-label>Nome completo</mat-label>
                            <input matInput formControlName="nome" required />
                            <mat-error *ngIf="fc.nome.touched && fc.nome.hasError('required')">Nome é
                                obrigatório.</mat-error>
                            <mat-error *ngIf="fc.nome.touched && fc.nome.hasError('minlength')">Nome deve ter pelo menos
                                3 caracteres.</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full sm:col-span-6" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required />
                            <mat-error *ngIf="fc.email.touched && fc.email.hasError('required')">Email é
                                obrigatório.</mat-error>
                            <mat-error *ngIf="fc.email.touched && fc.email.hasError('email')">Email
                                inválido.</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full sm:col-span-4" appearance="fill">
                            <mat-label>Período</mat-label>
                            <mat-select formControlName="periodo" required>
                                <mat-option *ngFor="let p of periodos" [value]="p.value">{{ p.label }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="fc.periodo.touched && fc.periodo.hasError('required')">Período é
                                obrigatório.</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full sm:col-span-4" appearance="fill">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" required placeholder="000.000.000-00"
                                (input)="formatCPF($event)" maxlength="14" />
                            <mat-error *ngIf="fc.cpf.touched && fc.cpf.hasError('required')">CPF é
                                obrigatório.</mat-error>
                            <mat-error *ngIf="fc.cpf.touched && fc.cpf.hasError('pattern')">CPF inválido. Use o formato:
                                000.000.000-00</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full sm:col-span-4" appearance="fill">
                            <mat-label>Matrícula</mat-label>
                            <input matInput formControlName="matricula" required />
                            <mat-error *ngIf="fc.matricula.touched && fc.matricula.hasError('required')">Matrícula é
                                obrigatória.</mat-error>
                            <mat-error *ngIf="fc.matricula.touched && fc.matricula.hasError('minlength')">
                                Matrícula deve ter pelo menos 5 caracteres.
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 flex items-center justify-end gap-3 px-6 py-4 sm:px-8">
                <button mat-button type="button" (click)="onCancel()">Cancelar</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="personalDataForm.invalid">
                    <span class="ml-2">Salvar Dados</span>
                </button>
            </div>
        </form>
    </div>
</div>