<div class="bg-card flex flex-col overflow-hidden rounded-2xl shadow">
    <div class="flex flex-col p-6">
        <div class="flex items-center justify-between">
            <!-- Course category -->
            <div class="rounded-full px-3 py-0.5 text-sm font-semibold" [ngClass]="{
                                                'bg-blue-100 text-blue-800 dark:bg-blue-500 dark:text-blue-50': event.status === Status.b,
                                                'bg-green-100 text-green-800 dark:bg-green-500 dark:text-green-50': event.status === Status.a,
                                                'bg-amber-100 text-amber-800 dark:bg-amber-500 dark:text-amber-50': event.status === Status.c,
                                                'bg-pink-100 text-pink-800 dark:bg-pink-500 dark:text-pink-50': event.status === Status.d,
                                            }">
                {{ event.status | Status }}
            </div>

        </div>
        <div class="mt-4 text-lg font-medium">
            {{ event.name }}
        </div>

        <div class="my-6 h-1 w-full border-t-2"></div>

        <div class="text-secondary flex items-center text-md leading-5 mt-2">
            <mat-icon class="text-hint icon-size-5" [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
            <div class="ml-1.5">
                {{ event.type | EventTypeEnum }}
            </div>
        </div>


        <div class="text-secondary flex items-center text-md leading-5 mt-2">
            <mat-icon class="text-hint icon-size-5" [svgIcon]="'heroicons_solid:calendar-days'"></mat-icon>
            <div class="ml-1.5">
                {{ event.eventDate | date:'dd/MM/yyyy' }}
            </div>
        </div>

        <div class="text-secondary flex items-center text-md leading-5 mt-2">
            <mat-icon class="text-hint icon-size-5" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
            <div class="ml-1.5">
                {{ event.startDate | date:'HH:mm' }} - {{ event.endDate | date:'HH:mm' }}
            </div>
        </div>
    </div>
    <div class="mt-auto flex w-full flex-col">
        <div class="bg-gray-50 px-6 py-4 text-right dark:bg-transparent">
            <a mat-stroked-button [routerLink]="[event.id]">
                <span class="inline-flex items-center">
                    Saiba Mais
                </span>
            </a>
        </div>
    </div>
</div>
